 {
	"jbuniversal.phone.teaser":  {
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "itemlink",
				"group_popup": "1",
				"width": "",
				"height": "170",
				"width_popup": "",
				"height_popup": "600",
				"element": "98d15291-d7cb-47de-938f-54c1ea0a4c6b"
			}
		},
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"template": "price",
				"element": "5bb44b83-a5d7-4f8f-a73c-982906b9cb53"
			}
		},
		"rating":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "0",
				"show_microdata": "0",
				"element": "fab5c3ff-197e-40bc-bd6a-30adf625b02d"
			}
		},
		"tools-buttons":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"template": "buttons",
				"element": "5bb44b83-a5d7-4f8f-a73c-982906b9cb53"
			}
		},
		"tools-user":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "1ba3e6fe-392f-43b0-a234-4dbccc54e078"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "7c0f5b38-6d07-4731-ab2b-eddb3be46139"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f180257-7738-46e6-854b-3081b20b9803"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3e062327-b94a-45db-b484-fe5f6c34764e"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0d16d0f4-799d-48cb-a82d-958df43ff295"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "281245d8-7961-427b-8a2c-ce426d9cc57b"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "7f9a7c5e-50a6-4c10-9c55-d64133a98c31"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "494c606a-bd86-4bbe-818f-3489d9bb79ad"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0d16d0f4-799d-48cb-a82d-958df43ff295"
			},
			"7":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "45ed5da9-0403-4f83-8789-1a43fc15175e"
			}
		}
	},
	"jbuniversal.phone.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "300",
				"width_popup": "",
				"height_popup": "600",
				"element": "98d15291-d7cb-47de-938f-54c1ea0a4c6b"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "65209415-3fdb-410e-89a5-fc5f0f08b938"
			}
		},
		"price":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"template": "full",
				"element": "5bb44b83-a5d7-4f8f-a73c-982906b9cb53"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3e062327-b94a-45db-b484-fe5f6c34764e"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "83821a27-6c18-4be2-a7b5-0484a4c9fc3c"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0d16d0f4-799d-48cb-a82d-958df43ff295"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "494c606a-bd86-4bbe-818f-3489d9bb79ad"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f180257-7738-46e6-854b-3081b20b9803"
			},
			"5":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2d1ecd4e-9799-4da1-b1f0-ad959a6e4baf"
			},
			"6":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2a870ce7-aece-420f-9c77-a1d435661ea0"
			},
			"7":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "7f9a7c5e-50a6-4c10-9c55-d64133a98c31"
			},
			"8":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "75b710a0-0494-404d-938c-5a35c2b72451"
			},
			"9":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "281245d8-7961-427b-8a2c-ce426d9cc57b"
			},
			"10":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "456f9992-81a3-4105-8f57-c4c849c42e27"
			},
			"11":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[, ]",
				"element": "45ed5da9-0403-4f83-8789-1a43fc15175e"
			},
			"12":  {
				"showlabel": "1",
				"altlabel": "",
				"date_format": "%Y-%m-%d",
				"custom_format": "",
				"separated_by": "separator=[ ]",
				"element": "a5ac9e17-4336-48f8-b01a-33a0128a88a6"
			}
		},
		"gallery":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"order": "asc",
				"width": "190",
				"height": "190",
				"count": "0",
				"element": "66b052c7-a319-4dcf-8ad3-5fa078c12f15"
			}
		},
		"reviews":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u0412\u0438\u0434\u0435\u043e-\u043e\u0431\u0437\u043e\u0440",
				"element": "89ea4c6d-42b7-4deb-b4fd-92503dcf74af"
			}
		},
		"comments":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"fb_comm_width": "800",
				"fb_comm_limit": "10",
				"fb_comm_color_scheme": "light",
				"fb_comm_locale": "en_GB",
				"vk_comm_width": "800",
				"vk_comm_limit": "10",
				"vk_comm_attach": "1",
				"vk_comm_auto_publish": "1",
				"vk_comm_height": "500",
				"vk_comm_norealtime": "0",
				"vk_comm_mini": "auto",
				"element": "a0aa94e2-be93-47ab-a166-7d6e633ed7c3"
			}
		},
		"related":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "\u041f\u043e\u0445\u043e\u0436\u0435 \u0442\u043e\u0432\u0430\u0440\u044b",
				"count": "3",
				"relevant": "0",
				"search-method": "2",
				"check_app": "1",
				"check_type": "0",
				"check_category": "1",
				"check_fields":  {
					"0": "_itemtag",
					"1": "_itemcategory",
					"2": "2f180257-7738-46e6-854b-3081b20b9803",
					"3": "3e062327-b94a-45db-b484-fe5f6c34764e",
					"4": "0d16d0f4-799d-48cb-a82d-958df43ff295",
					"5": "83821a27-6c18-4be2-a7b5-0484a4c9fc3c",
					"6": "494c606a-bd86-4bbe-818f-3489d9bb79ad",
					"7": "2d1ecd4e-9799-4da1-b1f0-ad959a6e4baf",
					"8": "2a870ce7-aece-420f-9c77-a1d435661ea0",
					"9": "75b710a0-0494-404d-938c-5a35c2b72451",
					"10": "45ed5da9-0403-4f83-8789-1a43fc15175e",
					"11": "281245d8-7961-427b-8a2c-ce426d9cc57b",
					"12": "7f9a7c5e-50a6-4c10-9c55-d64133a98c31"
				},
				"conditions":  {
					"0":  {
						"key": "",
						"value": ""
					}
				},
				"layout": "teaser",
				"link_to_item": "0",
				"columns": "3",
				"separated_by": "separator=[ ]",
				"element": "8a769a1f-a1b8-49a7-9a75-9852227230ca"
			}
		},
		"tools":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"rating_disabled": "0",
				"show_message": "1",
				"show_microdata": "1",
				"element": "fab5c3ff-197e-40bc-bd6a-30adf625b02d"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "1ba3e6fe-392f-43b0-a234-4dbccc54e078"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"element": "7c0f5b38-6d07-4731-ab2b-eddb3be46139"
			}
		},
		"social":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"bookmark_enabled": "1",
				"like_vk_enabled": "1",
				"like_vk_variants": "like_vk_mini",
				"like_vk_height": "20",
				"like_vk_verb": "0",
				"like_vk_id": "3885270",
				"like_fb_enabled": "1",
				"like_fb_send": "false",
				"like_fb_layout": "button_count",
				"like_fb_show_faces": "false",
				"like_fb_colorscheme": "light",
				"like_fb_action": "like",
				"like_fb_locale": "ru_RU",
				"like_tw_enabled": "1",
				"like_tw_via": "",
				"like_tw_locale": "ru",
				"like_tw_size": "",
				"like_tw_related": "",
				"like_tw_hashtags": "",
				"like_tw_dnt": "false",
				"like_tw_count": "0",
				"like_ok_enabled": "1",
				"like_ok_url": "",
				"like_ok_count_enable": "0",
				"like_ok_count": "right",
				"like_ok_text": "0",
				"like_ok_ok_text": "1",
				"like_ok_view": "straight",
				"like_ok_size": "12",
				"like_gp_enabled": "1",
				"like_gp_size": "tall",
				"like_gp_annotation": "none",
				"like_gp_width": "300",
				"like_gp_lang": "ru",
				"like_li_enabled": "1",
				"like_li_url": "",
				"like_li_counter": "right",
				"like_li_lang": "ru_RU",
				"like_ya_share_enabled": "1",
				"like_ya_share_services": "",
				"like_ya_share_style": "button",
				"like_ya_share_theme": "default",
				"element": "18673236-5d95-493a-9477-025eb77e91b4"
			}
		}
	},
	"jbuniversal.phone.compare":  {
		"fields":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "150",
				"width_popup": "",
				"height_popup": "600",
				"element": "98d15291-d7cb-47de-938f-54c1ea0a4c6b"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "\u0426\u0435\u043d\u0430",
				"separated_by": "separator=[ ]",
				"template": "price",
				"element": "5bb44b83-a5d7-4f8f-a73c-982906b9cb53"
			},
			"2":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2f180257-7738-46e6-854b-3081b20b9803"
			},
			"3":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "0d16d0f4-799d-48cb-a82d-958df43ff295"
			},
			"4":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "3e062327-b94a-45db-b484-fe5f6c34764e"
			},
			"5":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "456f9992-81a3-4105-8f57-c4c849c42e27"
			},
			"6":  {
				"showlabel": "0",
				"altlabel": "\u0424\u043e\u0440\u043c\u0430\u0442 SIM",
				"separated_by": "separator=[ ]",
				"element": "75b710a0-0494-404d-938c-5a35c2b72451"
			},
			"7":  {
				"showlabel": "0",
				"altlabel": "\u0415\u043c\u043a\u043e\u0441\u0442\u044c",
				"separated_by": "separator=[ ]",
				"element": "281245d8-7961-427b-8a2c-ce426d9cc57b"
			},
			"8":  {
				"showlabel": "0",
				"altlabel": "\u041a\u0430\u043c\u0435\u0440\u0430, Mpx",
				"separated_by": "separator=[ ]",
				"element": "2d1ecd4e-9799-4da1-b1f0-ad959a6e4baf"
			},
			"9":  {
				"showlabel": "0",
				"altlabel": "\u042f\u0434\u0435\u0440",
				"separated_by": "separator=[ ]",
				"element": "83821a27-6c18-4be2-a7b5-0484a4c9fc3c"
			},
			"10":  {
				"showlabel": "0",
				"altlabel": "\u041c\u0430\u0442\u0435\u0440\u0438\u0430\u043b",
				"separated_by": "separator=[ ]",
				"element": "7f9a7c5e-50a6-4c10-9c55-d64133a98c31"
			},
			"11":  {
				"showlabel": "0",
				"altlabel": "\u0421\u0438\u0441\u0442\u0435\u043c\u0430",
				"separated_by": "separator=[ ]",
				"element": "494c606a-bd86-4bbe-818f-3489d9bb79ad"
			},
			"12":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "45ed5da9-0403-4f83-8789-1a43fc15175e"
			}
		}
	},
	"jbuniversal.phone.favorite":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		},
		"image":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"display": "all",
				"template": "popup",
				"group_popup": "1",
				"width": "",
				"height": "170",
				"width_popup": "",
				"height_popup": "600",
				"element": "98d15291-d7cb-47de-938f-54c1ea0a4c6b"
			}
		},
		"properties":  {
			"0":  {
				"showlabel": "1",
				"altlabel": "OS",
				"separated_by": "separator=[ ]",
				"element": "494c606a-bd86-4bbe-818f-3489d9bb79ad"
			},
			"1":  {
				"showlabel": "1",
				"altlabel": "\u0410\u043a\u043a\u0443\u043c\u0443\u043b\u044f\u0442\u043e\u0440",
				"separated_by": "separator=[ ]",
				"element": "281245d8-7961-427b-8a2c-ce426d9cc57b"
			},
			"2":  {
				"showlabel": "1",
				"altlabel": "\u042d\u043a\u0440\u0430\u043d",
				"separated_by": "separator=[ ]",
				"element": "2f180257-7738-46e6-854b-3081b20b9803"
			},
			"3":  {
				"showlabel": "1",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"element": "2a870ce7-aece-420f-9c77-a1d435661ea0"
			},
			"4":  {
				"showlabel": "1",
				"altlabel": "\u041a\u043e\u043c\u043f\u043b\u0435\u043a\u0442",
				"separated_by": "separator=[ ]",
				"element": "456f9992-81a3-4105-8f57-c4c849c42e27"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "65209415-3fdb-410e-89a5-fc5f0f08b938"
			}
		}
	},
	"jbuniversal.phone.feed":  {
		"description":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "65209415-3fdb-410e-89a5-fc5f0f08b938"
			}
		}
	},
	"jbuniversal.calc.full":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "0",
				"element": "_itemname"
			}
		},
		"text":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "tag=[%s]",
				"display": "all",
				"element": "0b2bc82e-1dc7-4a72-934a-df2fdb1d8dd9"
			},
			"1":  {
				"showlabel": "0",
				"altlabel": "",
				"separated_by": "separator=[ ]",
				"template": "list",
				"element": "976bba1b-9867-4b40-9854-cf4920e203b7"
			}
		}
	},
	"jbuniversal.phone.subcategory_item":  {
		"title":  {
			"0":  {
				"showlabel": "0",
				"altlabel": "",
				"link_to_item": "1",
				"element": "_itemname"
			}
		}
	}
}